.content {
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding: 15px;
    border-bottom: 1px solid rgb(188, 188, 188);
}
.languages {
    
    justify-content: center;
    position: relative;
}
.wikipedia-globe {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}
h1 {
    font-size: 30px;
    font-weight: 300;
}
h2{
    font-size: 15px;
    font-weight: 300;
}
* {
    line-height: 10px;
}
.one, .two, .three, .four, .five {
    display: flex;
    justify-content: center;
}
.languages h3 {
    font-size: 15px;
    color: rgb(0, 76, 255);
}
.languages p {
    font-size: 12px;
}
.one {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.two {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.three {
    width: 530px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.four {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.five {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.search-bar {
    
    display: flex;
    align-items: center;
    justify-content: left;
    width: 450px;
}
.left-language {
    padding-right: 15px;
    padding-left: 15px;
}
.left-language:hover {
    background-color: rgb(234, 234, 234);
    cursor: pointer;
    transition: 0.15s;
}
.right-language {
    padding-right: 15px;
    padding-left: 15px;
}
.right-language:hover {
    background-color: rgb(234, 234, 234);
    cursor: pointer;
    transition: 0.15s;
}
.magnify {
    
    fill: white;
}
.blue-button:hover {
    background-color: rgb(61, 128, 252);
    cursor: pointer;
    transition: 0.15s;
}
.input {
width: 360px;
padding: 15px;
}
.search-bar p {
    position: absolute;
    right: 0;
    left: 0;
    padding-left: 270px;
}
.search-bar-wrap {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.language-button{
    padding: 15px;
    width: 300px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(131, 131, 131);
    color: rgb(28, 106, 251);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}
.blue-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(0, 98, 255);
    
}