.content {
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.languages {
    
    justify-content: center;
    position: relative;
}
.wikipedia-globe {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}
h1 {
    font-size: 30px;
    font-weight: 300;
}
h2{
    font-size: 15px;
    font-weight: 300;
}
* {
    line-height: 10px;
}
.one, .two, .three, .four, .five {
    display: flex;
    justify-content: center;
}
.languages h3 {
    font-size: 15px;
}
.languages p {
    font-size: 12px;
}
.one {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.two {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.three {
    width: 530px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.four {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.five {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.search-bar {
    background-color: rgb(0, 98, 255);
    display: flex;
    align-items: center;
    justify-content: left;
    width: 450px;
}
.magnify {
    padding-left: 16px;
    fill: white;
}
.input {
width: 360px;
padding: 15px;
}
.search-bar p {
    position: absolute;
    right: 0;
    left: 0;
    padding-left: 270px;
}
.search-bar-wrap {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.language-button{
    
}